@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
  font-family: 'Inter var', sans-serif;
}

.label {
  display: none;
  background: #151520;
  color: white;
  padding: 6px 8px;
  border-radius: 7px;
  white-space: nowrap;
}

.annotation {
  left: -15px;
  top: -35px;
  width: 400px;
  user-select: none;
}
